body{
    margin: 0;
}

table{
	background-color: cadetblue;
	border: 2px blue;
}

form{
	text-align: center;
}

h1{
	text-align: center;
}

div.encabezado{
    text-align: center;
    font-size: 40px;
    color:wheat;
    background-color: cadetblue;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 30px;
}

div.menu{
    background-color: #555;
    margin-left: 5%;
    margin-right: 5%;
}

div.menu a{
    display: inline-block;
    padding: 10px 14.5%;
}

a{
    font-size: 25px;	
    text-decoration:blink;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    text-align:center;
}

h2{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

h3{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

.menu a:hover{
    background-color: deepskyblue;
}

.encabezadotema{
 	text-align: center;
    font-size: 22px;
    color:black;   /*Color Encabezado*/
    background-color: cadetblue;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

div.menutema{
    background-color: cadetblue; /*Color Menu*/
    margin-left: 5%;
    margin-right: 5%;
}

div.menutema a{
    display: inline-block;
    padding: 4px 6%;    /*Tamaño del menu*/
}

.menutema a:hover{
    background-color: deepskyblue;
}
/*Transiciones*/
.slider{
		width:800px;
		height:500px;
        margin-top: 20px;
		border:5px solid cadetblue;
		margin:0px auto;
		border-radius:20px;
	}
.divImg > img{
	width:550px;
	height:350px;
	position:absolute;
}
.flechas
{
	width:100%;
	margin:0px auto;
	height:80px;
	color:gray;
}
.atras{
		float:left;
		margin-left:20px;
	}
.delante{
	float:right;
	margin-right:20px;
}
.flechas i:hover{
	color: cadetblue;
}
.images{
	width:550px;
	top:300px;
    left:400px;
	position:absolute;
	visibility:hidden;
}
.principal{
	width:800px;
	height:100px;
	position:absolute;
	top:450px;
}
.recorre{
	width:600px;
	height:80px;
	top:15px;
	position:absolute;
	left:400px;
}
.mark
{
	width:20px;
	float:left;
	margin-top:250px;
	margin-left:100px;
	color: gray;
}
.mark:hover{
	color: cadetblue;
}